

/* Indeling voor bobby's pagina */

.maria_page {
  width: 700px;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

.smalltext_maria{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 0.7em;
}

.maria_maria_navigation li{
  width: 20%;
}

.maria_maria_navigation li a:hover {
  background-color: #aaaaaa;
  text-decoration: none;
}

.banner{
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
}