/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

/* 
* {                                      (geldt voor alles)
    border: 1px dotted black;            (zorgt ervoor dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen)
    background-color: rgba(0,0,0,5%);    (zorgt ervoor dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur)
}
*/

/* Basisinstellingen voor alle pagina's */

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge van 0px */
  background-color: rgb(175, 175, 45);    /* achtergrondkleur lichtgroen */
  color: #000000;               /* tekstkleur zwart */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  

body * {                          /* geldt voor alles in body */
  overflow: hidden;               /* zorgt dat DIV en andere block elementen de hoogte krijgt van wat erin zit (anders is het soms 0) */
  box-sizing: border-box;         /* zorgt ervoor dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge van 0px */
  text-align: center;             /* standaard tekst centreren */
}


/* Navigatiebalk voor alle pagina's */

nav ul {
  list-style-type: none;
  margin-bottom: 0vw;
  padding: 0vw;
  background-color: rgb(217, 255, 208);
  background-size: cover;
  overflow-y: visible;
  border-radius: 10px;
}

nav ul li {
  float: left;                           /* zorgt ervoor dat de tekst links zweeft */
}

nav li a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 1vw 1.2vw;
  text-decoration: none;
}

nav li a:hover {
  background-color:  rgb(175, 238, 103);
}

nav li a.active {
  background-color:rgb(235, 180, 135);
}

.nav_met_button {                        /* Border radius van de navigatibalk aangepast voor de pagina's met button rechtsboven */      
  border-radius: 10px 10px 0px 10px;
}


/* Indeling en opmaak voor alle pagina's */

.page {
  width: 90vw;                           /* breedte van 90 viewwidth */
  height: auto;                          /* automatische hoogte */
  margin: 0px auto;                      /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

main {                       
  text-align: left;                      /* tekst links */
}

footer {                  
  margin: 1vw 0px;
}    

h6 {
  font-size: 2vw;
}

h1, h2, p {                              /* geldt voor h1, h2 & p */
  text-align: left;                      /* tekst links */
  margin: 1vw 0vw;
}

.kolom {
  text-align: left;                      /* tekst links */
  float: left;
  width: 22vw;
  padding: 0 1vw 0 1vw;
}

.kolomStop {
  clear:both;                            /* stop met floaten */
}

.artikel {
  margin: 0.7vw;
  border-bottom: 3px dashed rgb(217, 255, 208);
  text-align: left;
}

h3 {
  position: relative;
}

h1, h2, h3 {                             /* geldt voor h1, h2 & h3 */
  color: rgb(235, 180, 135);
  font-weight: bold;
}

.smalltext {
  text-align: center;                     /* tekst centreren */
  font-size: 1.5vw;
}

a {
  color: skyblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Alle code omtrent het logo (behalve het responsive design gedeelte, zie daarvoor alle code vanaf regel 270) */

.logo {
  float: right;
  width: 100px;
  position: relative;
}


/* Indeling & opmaak voor alle afbeeldingen */

.afbeelding {
  background-size: cover;
  max-width: 100%;
  border-radius: 20px;
  transition: 1s ease-in;
}

.afbeelding:active, .afbeelding:hover {             /* Zie regels 421, 471, 512 & 548 voor de code waarmee afbeeldingen groter worden als je erop klikt (of ingedrukt houdt bij desktops) */
  cursor: pointer;
}


/*
Responsive design
Ik heb het responsive design getest via de functie "inspecteren" van Google. Hiermee kon ik diverse apparaten selecteren en zag ik precies hoe de website eruit ziet op het geselecteerde apparaat.
/*

/* Telefoons staand */

@media only screen and (max-width: 540px) {               /* geldt voor schermen met een maximale width van 570px */

  .kolom, .page, nav ul li {                              /* geldt voor: kolom, page & nav ul li */
    width: 100%;
    padding: 1px;
    margin: 1px;
  }

  .nav_met_button {
    border-radius: 10px 10px 0px 0px;
  }

  button {
    width: 100%;
    margin: 0px;
  }

  nav ul {
    border-radius: 10px 10px 0px 0px;
  }

  .artikel {
    width: 100%;
    margin: 5px 0px 5px 0px;
  }

  h1 {
    font-size: 7vw;
  }

  h3 {
    font-size: 10vw;
    margin: 2vw 0vw;
  }

  h6 {
    width: 100%;
    font-size: 5vw;
    padding-top: 1vw;
  }

  .logo {
    width: 23vw;
  }

  .smalltext {
    width: 100%;
    font-size: 4vw ;
  }

  .afbeelding {
    margin: 0.5vw auto;
  }
}

/* Telefoons liggend, Ipads en tablets staand */

@media only screen and (max-width: 850px) and (min-width: 541px) {          /* geldt voor schermen met een breedte tussen 541px & 850px */
  body {
    font-size: 2vw;
  }

  .kolom {                   
    width: 40vw;
    padding: 2vw;
    margin: 0vw;
  }
  
  h1 {
    font-size: 4vw;
  }

  h3 {
    font-size: 6vw;
  }

  h6 {
    font-size: 4vw;
    margin-bottom: 5px;
  }

  .smalltext {
    font-size: 3vw;
    width: 100%;
  }

  .afbeelding {
    margin: 0.5vw;
  }
}

/* Tablets & Ipads liggend */

@media only screen and (max-width: 1200px) and (min-width: 850px) {           /* geldt voor schermen met een breedte tussen 850px & 1200px */
  
  .kolom {
    width: 30vw;
  }

  h1 {
    font-size: 3vw;
  }

  h3 {
    font-size: 5vw;
  }

  h6 {
    font-size: 3vw;
  }
  
  .smalltext {
    width: 100%;
    font-size: 2vw ;
  }
}


/* Laptops/Macbooks */

@media only screen and (max-width: 1920px) and (min-width: 1200px) {        /* geldt voor schermen met een breedte tussen 1200px & 1920px */
  body {
    font-size: 1vw;
  }

  h1 {
    font-size: 3vw;
  }

  h3 {
    font-size: 3vw;
  }
}

/* Full HD scherm */

@media only screen and (min-width: 1920px) {                /* geldt voor schermen met een minimale breedte van 1920px */
  body {
    font-size: 1vw ;
  }

  h1 {
    font-size: 3vw;
  }
}