/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /* border: 1px dotted black;         */  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
    /* background-color: rgba(0,0,0,5%); */  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  background-color: #ffffff;    /* achtergrondkleur lichtgrijs */
  color: #303030;               /* tekstkleur donkergrijs */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  

body * {                          /* geldt voor alles in body */
  overflow: hidden;               /* zorgt dat DIV en andere block elementen de hoogte krijgt van wat erin zit (anders is het soms 0) */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge 0 */
}

/* Indeling voor alle pagina's */

.page {
  width: 100%;                   /* vaste breedte van 90vw */
  margin: 10px auto;             /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}
main {                       
  text-align: left;                      /* tekst links */
  width: 90%;
  float: right;
}

footer {                  
  margin: 1vw 0px;
}    

/*
.fa {
  padding: 20px;
  font-size: 30px;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}
.fa-instagram {
  background: #ea2899;
  color: white;
}
*/

h6 {
  font-size: 2vw;
}

h1, h2, p {                              /* geldt voor h1, h2 & p */
  text-align: left;                      /* tekst links */
  margin: 1vw 0vw;
}

.kolom {
  text-align: left;                      /* tekst links */
  float: left;
  width: 22vw;
  padding: 0 1vw 0 1vw;
}

.kolomStop {
  clear:both;                            /* stop met floaten */
}

.artikel {
  margin: 0.5vw;
  border: 3px outset #dadada;
  padding: 10px;
  text-align: left;
}

h3 {
  position: relative;
}

h1, h2, h3 {                             /* geldt voor h1, h2 & h3 */
  color: #ffb115;
  text-align: center;
  font-weight: bold;
}

.smalltext {
  text-align: center;                     /* tekst centreren */
  font-size: /*1.5vw*/ 0.7em;
}

a {
  color: rgb(0, 110, 255);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.afbeelding {
  background-size: cover;
  max-width: 100%;
  border-radius: 20px;
  transition: 1s ease-in;
}


/* Navigatiebalk voor alle pagina's */
/*nav ul {
  list-style-type: none;
  margin-bottom: 0vw;
  padding: 0vw;
  background-color: #1F4762;
  background-size: cover;
  overflow-y: visible;
  border-radius: 10px;
}

nav ul li {
  float: left;                          
  text-align: center;
  width: 14.28571%;
}

nav li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 1vw 1.2vw;
  text-decoration: none;
}

nav li a:hover {
  background-color:  #182833;
  text-decoration: none;
}

nav li a.active {
  background-color:#E09F5A;
}*/

.sidebar {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}


/*
Responsive design
Ik heb het responsive design getest via de functie "inspecteren" van Google. Hiermee kon ik diverse apparaten selecteren en zag ik precies hoe de website eruit ziet op het geselecteerde apparaat.
/*

/* Telefoons staand */

@media only screen and (max-width: 540px) {               /* geldt voor schermen met een maximale width van 570px */

  .kolom, .page, nav ul li {                              /* geldt voor: kolom, page & nav ul li */
    width: 100%;
    padding: 1px;
    margin: 1px;
  }

  .nav_met_button {
    border-radius: 10px 10px 0px 0px;
  }

  button {
    width: 100%;
    margin: 0px;
  }

  nav ul {
    border-radius: 10px 10px 0px 0px;
  }

  .artikel {
    width: 100%;
    margin: 5px 0px 5px 0px;
  }

  h1 {
    font-size: 7vw;
  }

  h3 {
    font-size: 10vw;
    margin: 2vw 0vw;
  }

  h6 {
    width: 100%;
    font-size: 5vw;
    padding-top: 1vw;
  }

  .logo {
    width: 23vw;
  }

  .smalltext {
    width: 100%;
    font-size: 4vw ;
  }

  .afbeelding {
    margin: 0.5vw auto;
  }
}

/* Telefoons liggend, Ipads en tablets staand */

@media only screen and (max-width: 850px) and (min-width: 541px) {          /* geldt voor schermen met een breedte tussen 541px & 850px */
  body {
    font-size: 2vw;
  }

  .kolom {                   
    width: 40vw;
    padding: 2vw;
    margin: 0vw;
  }
  
  h1 {
    font-size: 4vw;
  }

  h3 {
    font-size: 6vw;
  }

  h6 {
    font-size: 4vw;
    margin-bottom: 5px;
  }

  .smalltext {
    font-size: 3vw;
    width: 100%;
  }

  .afbeelding {
    margin: 0.5vw;
  }
}

/* Tablets & Ipads liggend */

@media only screen and (max-width: 1200px) and (min-width: 850px) {           /* geldt voor schermen met een breedte tussen 850px & 1200px */
  
  .kolom {
    width: 30vw;
  }

  h1 {
    font-size: 3vw;
  }

  h3 {
    font-size: 5vw;
  }

  h6 {
    font-size: 3vw;
  }
  
  .smalltext {
    width: 100%;
    font-size: 2vw ;
  }
}


/* Laptops/Macbooks */

@media only screen and (max-width: 1920px) and (min-width: 1200px) {        /* geldt voor schermen met een breedte tussen 1200px & 1920px */
  body {
    font-size: 1vw;
  }

  h1 {
    font-size: 3vw;
  }

  h3 {
    font-size: 3vw;
  }
}

/* Full HD scherm */

@media only screen and (min-width: 1920px) {                /* geldt voor schermen met een minimale breedte van 1920px */
  body {
    font-size: 1vw ;
  }

  h1 {
    font-size: 3vw;
  }
}